:root{
  --primary-color-0: #483698;
  --color-primary-01:#0470F3;
  --secondary-color-0: #FFFFFF;
  --secondary-color-1: #F9F9F9;
  --secondary-color-3: #B9B9B9;
  --secondary-color-4: #8A8A8A;
  --secondary-color-7: #282828;
  --cta-color-0: #FBDE40;
  --cta-color-1: #FFE766;
  --danger-color: #DC3545;
}
