@mixin whitebox_desktop {
    width: 60%;
    height: auto;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin whitebox_mobile {
  @media screen and (max-width : 756px) {
      width: 100%;
      height: auto;
      border-top-left-radius: 5rem;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
}

@mixin back {
  width: 0.8rem;
  // width: 1rem;
  // margin-bottom: 1.5rem;
  // transform: rotateY(180deg);
  margin-right: 59vw;
  margin-bottom: 1rem;
}

@mixin back-mobile {
  margin-right: 90vw;
  width: 2rem !important;
  margin-top: 2rem;
}