@import '@/global/mixins.scss';
@import '@/global/colors.scss';

.pageone {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .pageone__whitebox {
    @include whitebox_desktop;

    .pageone__header {
      padding-top: 3em;

      h1 {
        color: #483698;
        margin-left: 6rem;
      }

      p {
        margin-top: 1.5rem;
        margin-left: 6rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .pageone__main {
      width: 100%;
      height: 25rem;
      display: flex;

      form {
        width: 50%;
        height: 100%;

        .input-errors {
          background-color: red;
        }

        .error {
          background-color: red;
        }

        .inputError {
          background-color: red;
        }

        .pageone__name,
        .pageone__cpf,
        .pageone__phone {
          border: 1px solid $color-primary;
          height: 2rem;
          border-radius: 5px;
        }

        .pageone__cpf,
        .pageone__phone {
          width: 70%;
        }

        label {
          margin-left: 6rem;
          display: flex;
          flex-direction: column;
          margin-top: 1.5rem;
        }

        .pageone__dropdown {
          display: flex;
          justify-content: space-between;
          margin-top: 1.5rem;
          margin-left: 6rem;

          .pageone__drop {
            margin: 0;
            width: 45%;

            select {
              border: 1px solid $color-primary;
              height: 2rem;
              border-radius: 5px;
            }
          }
        }
      }

      .pageone__image {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          // CASO ESTOURE COLOQUE EM 80%
        }
      }
    }

    .pageone__next {
      width: 100%;
      height: auto;

      .pageone__loadingbar {
        margin-left: 6rem;
      }

      .pageone__button {
        margin-left: 6rem;
        margin-top: 1rem;
        background-color: $color-primary;
      }
    }
  }
}

@media screen and (max-width : 915px) {
  .pageone {
    align-items: flex-end;

    .pageone__whitebox {
      @include whitebox_mobile;
    }
  }
}